@tailwind base;
@tailwind components;
@tailwind utilities;

#warning {
  display: none;
}

@media (max-width: 1050px) {
  #warning {
    display: block;
  }
}

@media (max-height: 680px) {
  #warning {
    display: block;
  }
}
